<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

</head>
<body>
	<!--
	<footer class="footer">
		<div class="content has-text-centered">
			<p>
				<strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy
					Thomas</a>. The source code is licensed <a
					href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
				website content is licensed <a
					href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY
					NC SA 4.0</a>.
			</p>
		</div>
	</footer>
	-->
	<footer class=footer>
        <div class="container">
            <div class="content_footer">
                <div class="profile">
                    <div class="logo_area">
                        <img src="" alt="">
                        <span class="logo_name">Fsoft Hotel</span>
                    </div>
                    <div class="desc_area">
                        <p>An international beacon of hospitality for the worldly, Fsoft Hotel is for those who believe supreme comfort, cultural exploration and the Fsoft life should be part of the everyday.</p>
                    </div>
                    <div class="social_media">
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-tiktok' ></i></a>
                        <a href="#"><i class='bx bx-envelope' ></i></a>
                    </div>
                </div>
                    <div class="service_area">
                        <ul class="service_header">
                            <li class="service_name">Recent News</li>
                            <li><a href="#">Secret River Boat Tour </a></li>
                            <li><a href="#">Gym & Yoga class</a></li>
                            <li><a href="#">Stay for Less – Faster</a></li>
                            <li><a href="#">Rewards are just a tap away</a></li>
                        </ul>
                        <ul class="service_header">
                            <li class="service_name">For Customers</li>
                            <li><a href="#">About Fsoft Hotel</a></li>
                            <li><a href="#">Customer Care/Help</a></li>
                            <li><a href="#"> Corporate Accounts</a></li>
                            <li> <a href="#">Financial Information</a></li>
                            
                        </ul>
                        <ul class="service_header">
                            <li class="service_name">Contact Us</li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Join Us</a></li>
                           
                        </ul>
                    </div>
            </div>
            <hr>
            <div class="footer_bottom">
                <div class="copy_right">
                    <i class='bx bxs-copyright'></i>
                    <span>2023 Fsoft hotel</span>
                </div>
                <div class="tou">
                    <a href="#">Term of Use</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookies</a>
                </div>
            </div> 
        </div>
    </footer>
</body>
</html>