<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NOT EXIT URL</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
	rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/css/navigate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/pagesEdit.css}" />
<style type="text/css">
a {
	text-decoration: none;
	color: black;
}

button:hover, a:hover {
	opacity: 0.7;
}

.icon-logout {
	font-size: 25px;
}
</style>
</head>
<body>

	<div id="body-pd">
		<div th:replace="navigation :: navigate"></div>
		<div th:text="${msg}"></div>
		<hr>
		<div class="container">
			<h1>NOT EXIT URL</h1>
			<hr>
		</div>
	</div>
	<script th:src="@{/js/listPages.js}"></script>
</body>
</html>